<%- include('./partials/headers/intro-header.ejs')  -%> 
<div class="alert">
    <form id="main" action="/check" method="POST">
       
            <fieldset class="fs game-mode">
                <label class="sec">Game Mode</label><br>
                <label for="mode">Online (Two Players)</label>
                <input type="radio" class="mode" name="mode" value="online" required>
                <br>
                <label for="mode">Vs Computer</label>
                <input type="radio" class="mode" name="mode" value="offline" required>
            </fieldset>

            <fieldset class="fs player-details">
                <label class="sec" for="nickname">Identify Yourself</label><br>
                <input type="text" name="nickname" id="name" placeholder="Enter your name ðŸ˜" required>
               
            </fieldset>
            <p id="nomErr"><%= err %></p>
            <div class="btns">
                <button id="join" type="submit">Join Game</button>
            </div>
    </form>
</div>

<!--End of players intialisation-->
<script>
    
</script>
<%- include('./partials/footers/footer.ejs')  -%>