<% include('./partials/head.ejs')  %> 
<div class="alert">
        <form id="form">
            <fieldset >
                <fieldset class="fs">
                    <legend>Game Mode</legend>
                    <label for="mode">Online (Two Players)</label>
                    <input type="radio" name="mode" value="online" required>
                    <label for="mode">Vs Computer</label>
                    <input type="radio" name="mode" value="offline" required>
                </fieldset>
                
                <fieldset class="fs player-details">
                    <label for="nickname">Identify Yourself</label><br>
                    <input type="text" name="nickname" id="name" placeholder="Identify Yourself ðŸ˜" required>
                    <p id="nomErr" > name already exists! please change or add a number.</p>
                </fieldset>

                <button id="start" type="submit" disabled>Start Game</button>
            </fieldset>
        </form>
        <div class="players"></div>
    </div>
    <!--End of players intialisation-->

    <script>
        


    </script>

    <% include('./partials/footer.ejs')  %>