<% include('./partials/head.ejs')  %>
<% include('./partials/game.ejs')  %>

<div id="prompt">
    <p>are you sure?</p>
    <span><button id='yes'>yes</button> <button id='no'>no</button></span>
</div>

<% include('./partials/online-footer.ejs')  %>