<%- include('./partials/headers/online-header.ejs')  -%>
<%- include('./partials/body/game.ejs')  -%>
<input type="text" id="ish" />
<button onclick="something()">click</button>
<%- include('./partials/footers/online-footer.ejs')  -%>