<% include('./partials/headers/online-header.ejs')  %>
<% include('./partials/body/game.ejs')  %>

<div id="prompt">
    <p>are you sure?</p>
    <span><button id='yes'>yes</button> <button id='no'>no</button></span>
</div>

<% include('./partials/footers/online-footer.ejs')  %>