<footer>
    <p>All rights reserved. ©2021 <span style="color: tomato;">AKDA</span></p>
</footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/index-online.js"></script>
</html>