body{
    position: relative;
}
.confirm {
    position: absolute;
    top: 20%;
    left: 15%;
    display: none;
    z-index: 3;
    width: 70%;
    height: 15rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, .4); */
    background-color: chartreuse;
}
#yes{
    background-color: #000;
    color: #fff;
}
#no{
    background: #fff;
    color:#000;
    border: 1px solid #000;
}

#yes, #no{
    width: 5rem;
    font-size: 1.5rem;
    padding: 5%;
    border-radius: 5%;
}
#yes:hover, #no:hover{
    cursor: pointer;
}

.players{
    position: absolute;
    top: 40%;
    left: 30%;
    display: block;
    z-index: 3;
    background-color: rgba(255, 255, 255, .4);
    width: 35%;
    height: 20%;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #000;
    margin-left: 1%;
    padding: 2%;
}
#pl-main{
    text-align: center;
    color: crimson;
}

.active{
    cursor: pointer;
}
.active:hover{
    opacity: .7;
}