.confirm {
    display: none;
    z-index: 3;
    width: 100%;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .4);
}
#yes{
    background-color: #000;
    color: #fff;
}
#no{
    background: #fff;
    color:#000;
    border: 1px solid #000;
}

.confirm > button{
    font-size: 1.5rem;
}
#yes:hover, #no:hover{
    cursor: pointer;
}

.players{
    display: block;
    z-index: 3;
    width: 35%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #000;
    margin-left: 1%;
    padding: 2%;
}
#pl-main{
    text-align: center;
    color: crimson;
}

.player-details{
    margin: 5% 0;
}


