.alert{
    width: 100%;
    height: 60vh;
    padding: 5%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
}

#main{
    padding: 5%;
    width: 60%;
    height: 100%;
    position: relative;
    border: 1px solid #000;
    margin: auto;
}
.btns{
    display: block;
    position: absolute;
    bottom: 1rem;
    width: 80%;
}
.mode{
    margin: 5% 0;
}
.game-mode{
    height: 7rem;
}
.player-details {
    height: 5rem; 
}

.fs{
    padding: 2%;
}
.sec{
    color: crimson;
}

#name{
    width: 90%;
    padding: 1.5%;
    margin: 3% 0;
}
#main, .players, #pl-main, .fs, #join, #start{
    border-radius: .2rem;
}

#nomErr{
    display: none;
    color: lightcoral;
}

#join{
    padding: 2%;
    font-size: 1.05rem;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

#join:hover{
    border-color: darkcyan;
    color: darkcyan;
}


