*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 70%;
    height: 70vh;
    margin: 2% auto 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alert{
    width: 85%;
    height: 60vh;
    padding: 5%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    background: burlywood;
}

#form{
    padding: 5%;
    width: 60%;
    height: 100%;
}
.players{
    width: 35%;
    height: 25%;
    max-height: 100%;
    overflow-y: auto;
}

.fs {
    height: 5rem;
    padding: 2%; 
}

#nomErr{
    display: none;
    color: lightcoral;
}

#start {
    padding: 1%;
    margin: .5rem 0;
    background-color: #fff;
    color: rgba(0, 0, 0);
    border: 1px solid #000;
    cursor: pointer;
}

#start:hover {
    background-color: #000;
    color: #fff;
}

#start:disabled{
    text-decoration: line-through;
}

.confirm{
    display: none;
    width: 100%;
    height: 35%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .3);
}

.confirm > p {
    font-size: 2rem;
}

#yes, #no{
    padding: 3%;
    font-size: 1.4rem;
    border: 1px solid #000;
}

#yes{
    background-color: #000;
    color: #fff;
}
